<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/main-med-logo.jpg" | prepend: site.baseurl | replace: '//', '/' }}" alt="Emerald Logo">
	  <!--<h1>WomansTechly</h1>-->
		 <h1>"One blog updated weekly with </br> incredible <em>women</em> in tech"</h1>
	</a>


	<div class="parallax_section parallax_image_first">
			<div class="center">
				<article id="break" ><span>W</span>omans<span>T</span>echly <span class="sourcepic"><a href="http://www.wocintechchat.com/blog/wocintechphotos">source #wocintechchat</a></span>  </article>
				</div>
			</div>

</header>
